<launch>
	<node name="rosbag_recorder" pkg="data_collection" type="rosbagger.py" output="screen">
		<param name="bag_name" type="string" value="eddy"/>
		<param name="data_directory" type="string" value="$(arg dir)"/>
		<rosparam command="load" file="$(find eddy_bringup)/config/topics.yaml"/>
	</node>
</launch>
